@use 'partial';

/*Generel*/

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: partial.$font;
    background-color: partial.$bg-color;
        p{
            font-size: 17px;
            color: partial.$text-color;
            line-height: 1.5;
        }

        h1,h2,h3,h4 {
            font-weight: 600;
            color: partial.$text-color;
        }
}

img {
    width: 100%;
    height: auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(5.1fr);
    grid-auto-rows: minmax(50px, auto);
}

/*navigation*/

header {
    grid-column: 1/9;
    @include partial.flex($justify: space-between);
    background-color: partial.$nav-color;
    border-bottom: 15px solid partial.$primary-color;
}

nav {
    color: partial.$text-color;
    height: 6em;
    padding: 1em;
    @include partial.flex($justify: space-between);

        img {
            width: 190px;
        }

        ul { 
            @include partial.flex;
            list-style-type: none;
        }

        a{
            color: partial.$text-color;
            padding: partial.$padding;
            margin: partial.$padding;
            font-size: 16px;
            font-weight: 600;
            text-decoration: none;
            text-shadow: 0px 0px 0px #274018;

            &:hover{
                color: partial.$secondary-color
            }
        }
}

/*Burgermenu*/ 

.mobile.nav{
    .bars{
        display: none;
        cursor: pointer;
    }
}

.toogleshow{
    display: flex !important;
    flex-direction: column;
}

.active {
    color: partial.$primary-color
}

/*Headerbillede*/
.header-img{
    position: relative;
    margin-bottom: 1em;


        .banner-tekst{
            position: absolute;
            left: 59%;
            top: 31%;
            text-shadow: partial.$text-shadow;
       }

       h1{
        font-size: 3.5vw;
       }

       p{
        font-size: 2vw;
       }

        a{
            @include partial.btn;    /*kalder på vores mixin*/
            position: absolute;


               &:hover{
                background-color: partial.$secondary-color;
                transition: 0.4s ease-in-out
               }
        }

        .bg-billede-mobil{
            display:none;
        }
    }

/*Main forside styling*/

    main {
        grid-column: 1/8;
        display: grid;
        grid-template-columns: repeat(6.1fr);


            h2{
                grid-column: 1/8;
                text-align: center;
                font-size: 30px;
                padding: 35px;
            }


            .container1{
                grid-column: 1/8;
                display: flex;
                justify-content: space-around;
            }
}

/*flex containers*/

.flex-container-1, .flex-container-2, .flex-container-3{
    @include partial.container1;
    background-color: partial.$bg-color;

        img{
            width: 0%;
            margin: 0 auto;
            display: block;
        }

        p{
            margin-bottom: 1em;
        }

        a{
            @include partial.btn;
            display: block; //Ved brug af display: block fylder elementet hele bredden af sin container*/


                &:hover{
                    background-color: partial.$secondary-color;
                    transition: 0.4s ease-in-out;
                }
        }
}

/* Tekst og billede sektion*/

.txt-img-section{
    grid-column: 1/8;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.tekst {
    grid-column: 1/9;
    background-color: partial.$primary-color;
    padding: 5em 5em 5em 5em;
    text-align: center;

        p, h2{
            color: partial.$bg-color;
        }

        h2{
            text-align: center; 
        }

        p:nth-of-type(4){   //af typen p nr. 4 tilføj denne styling
            margin-bottom: 3em;
        }
}
.secondary-btn {
    @include partial.btn($bg-color: transparent);
    border: 2px solid #fff;


        &:hover{
            background-color: #fff;
            color: partial.$secondary-color;
            transition: 0.4s ease-in-out;
        }
}

.billede{
    grid-column: 1/8;
    background-size: cover;
}

.begivenheder {
    grid-column: 1/9;
    background-color: partial.$bg-color;
    padding: 5em 5em 5em 5em;
    text-align: center;

        p {
            text-align: center;
        }
        
        p:nth-of-type(2){   //af typen p nr. 4 tilføj denne styling
            margin-bottom: 3em;
        }
}

/*Footer*/

footer:nth-of-type(1) {
    grid-column: 1/8;
    background-color: partial.$footer-color;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1em 4em;

        p,h4 {
            color: partial.$nav-color;
            line-height: 0.5;
        }

        h4{
            font-size: 18px;
        }

        a{
            color: partial.$primary-color
        }

        .logo-footer{
            width: 100px;
            height: auto;
        }
}

.footer-left{
    grid-column: 1/2;
}

.footer-right{
    grid-column: 2/3;
    background-color: partial.$footer-color;
    text-align: center;


        p {
            color: partial.$footer-color
        }
}

/*-----------------------------------menu1 underside "Skønhed og bæredygtighed"------------------------------------------*/
/*Generel*/

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: partial.$font;
    background-color: partial.$bg-color;
        p{
            font-size: 17px;
            color: partial.$text-color;
            line-height: 1.5;
        }

        h1,h2,h3,h4 {
            font-weight: 600;
            color: partial.$text-color;
        }
}


/*navigation*/

header {
    grid-column: 1/9;
    @include partial.flex($justify: space-between);
    background-color: partial.$nav-color;
    border-bottom: 15px solid partial.$primary-color;
}

nav {
    color: partial.$text-color;
    height: 6em;
    padding: 1em;
    @include partial.flex($justify: space-between);

        img {
            width: 190px;
        }

        ul { 
            @include partial.flex;
            list-style-type: none;
        }

        a{
            color: partial.$text-color;
            padding: partial.$padding;
            margin: partial.$padding;
            font-size: 16px;
            font-weight: 600;
            text-decoration: none;
            text-shadow: 0px 0px 0px #274018;

            &:hover{
                color: partial.$secondary-color
            }
        }
}

/*Burgermenu*/ 

.mobile.nav{
    .bars{
        display: none;
        cursor: pointer;
    }
}

.toogleshow{
    display: flex !important;
    flex-direction: column;
}

.active {
    color: partial.$primary-color
}

/*Headerbillede*/
.header-img1{
    position: relative;
    margin-bottom: 1em;


        .banner-tekst1{
            position: absolute;
            left: 25%;
            top: 14%;
            text-shadow: partial.$text-shadow;
       }

       h1{
        font-size: 3.5vw;
       }

       p{
        font-size: 2vw;
        text-align: center;
       }

        a{
            @include partial.btn;    /*kalder på vores mixin*/
            position: absolute;


               &:hover{
                background-color: partial.$secondary-color;
                transition: 0.4s ease-in-out
               }
        }

        .bg-billede-mobil{
            display:none;
        }
    }

/*Main forside styling*/

    main {
        display: grid;


            h2{
                grid-column: 1/8;
                font-size: 30px;
                padding: 10px;
                left: 20px;
            }

            p{
                margin-bottom: 2em;
            }
}

/*flex container*/

.flex-container-4 {
    background-color: partial.$bg-color;
        p{
            margin-bottom: 2em;
            text-align: center;
        }
        .text {
            margin-bottom: 2em;
            text-align: justify;
        }
        a{
            @include partial.btn;
            ; //Ved brug af display: block fylder elementet hele bredden af sin container*/


                &:hover{
                    background-color: partial.$secondary-color;
                    transition: 0.4s ease-in-out;
                }
        }
}

.primary-btn {
    @include partial.btn($bg-color: transparent);
    border: 2px solid #fff;


        &:hover{
            background-color: #fff;
            color: partial.$secondary-color;
            transition: 0.4s ease-in-out;
        }
}
.secondary-btn {
    @include partial.btn($bg-color: transparent);
    border: 2px solid #fff;


        &:hover{
            background-color: #fff;
            color: partial.$secondary-color;
            transition: 0.4s ease-in-out;
        }
}

.billede{
    grid-column: 1/8;
    background-size: cover;
}

/*Footer*/

footer:nth-of-type(1) {
    grid-column: 1/0;
    background-color: partial.$footer-color;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;

        p,h4 {
            color: partial.$nav-color;
            line-height: 0.5;
        }

        h4{
            font-size: 18px;
        }

        a{
            color: partial.$primary-color
        }
    }

.footer-1{
    grid-column: 1/9;
}

/*-----------------------------------menu 2 underside "Hårpleje og bæredygtighed"----------------------------------------*/
/*Generel*/

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: partial.$font;
    background-color: partial.$bg-color;
        p{
            font-size: 17px;
            color: partial.$text-color;
            line-height: 1.5;
        }

        h1,h2,h3,h4 {
            font-weight: 600;
            color: partial.$text-color;
        }
}


/*navigation*/

header {
    grid-column: 1/9;
    @include partial.flex($justify: space-between);
    background-color: partial.$nav-color;
    border-bottom: 15px solid partial.$primary-color;
}

nav {
    color: partial.$text-color;
    height: 6em;
    padding: 1em;
    @include partial.flex($justify: space-between);

        img {
            width: 190px;
        }

        ul { 
            @include partial.flex;
            list-style-type: none;
        }

        a{
            color: partial.$text-color;
            padding: partial.$padding;
            margin: partial.$padding;
            font-size: 16px;
            font-weight: 600;
            text-decoration: none;
            text-shadow: 0px 0px 0px #274018;

            &:hover{
                color: partial.$secondary-color
            }
        }
}

/*Burgermenu*/ 

.mobile.nav{
    .bars{
        display: none;
        cursor: pointer;
    }
}

.toogleshow{
    display: flex !important;
    flex-direction: column;
}

.active {
    color: partial.$primary-color
}

/*Headerbillede*/
.header-img2{
    position: relative;
    margin-bottom: 1em;


        .banner-tekst2{
            position: absolute;
            left: 25%;
            top: 14%;
            text-shadow: partial.$text-shadow;
       }

       h1{
        font-size: 3.5vw;
       }

       p{
        font-size: 2vw;
        text-align: center;
       }

        a{
            @include partial.btn;    /*kalder på vores mixin*/
            position: absolute;


               &:hover{
                background-color: partial.$secondary-color;
                transition: 0.4s ease-in-out
               }
        }

        .bg-billede-mobil{
            display:none;
        }
    }

/*Main forside styling*/

    main {
        display: grid;


            h2{
                grid-column: 1/8;
                font-size: 30px;
                padding: 10px;
                left: 20px;
            }

            p{
                margin-bottom: 2em;
            }
}

/*flex container*/

.flex-container-5 {
    background-color: partial.$bg-color;
        p{
            margin-bottom: 2em;
            text-align: center;
            
        }
        .text {
            margin-bottom: 2em;
        }
        a{
            @include partial.btn;
            ; //Ved brug af display: block fylder elementet hele bredden af sin container*/


                &:hover{
                    background-color: partial.$secondary-color;
                    transition: 0.4s ease-in-out;
                }
        }
}

.primary-btn {
    @include partial.btn($bg-color: transparent);
    border: 2px solid #fff;


        &:hover{
            background-color: #fff;
            color: partial.$secondary-color;
            transition: 0.4s ease-in-out;
        }
}
.secondary-btn {
    @include partial.btn($bg-color: transparent);
    border: 2px solid #fff;


        &:hover{
            background-color: #fff;
            color: partial.$secondary-color;
            transition: 0.4s ease-in-out;
        }
}

.billede{
    grid-column: 1/8;
    background-size: cover;
}

/*Footer*/

footer:nth-of-type(1) {
    grid-column: 1/0;
    background-color: partial.$footer-color;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;

        p,h4 {
            color: partial.$nav-color;
            line-height: 0.5;
        }

        h4{
            font-size: 18px;
        }

        a{
            color: partial.$primary-color
        }
    }

.footer-1{
    grid-column: 1/9;
}

/********---Mobil---*********/
@media screen and (max-width: 900px){
    header:nth-of-type(1){
        display: inline; //Gør at elementet kun fylder den plads den skal bruge
    }
    
    .mobile-nav{
        color: partial.$primary-color;
    
            .bars{
                display: flex;
            }
    }
    
    .desktop-nav{
        display: none;
        height: auto;
        border-top: 4px solid partial.$primary-color;
    
            ul{
                flex-direction: column;
            }
    
            li{
                display: flex;
            }
    }
    
    .header-img{
    
        .banner-tekst{
            left: 5%;
            top: 15%;
        }
    
        h1{
            font-size: 5vw;
        }
    
        p{
            font-size: 4vw;
        }
    
        .bg-billede-desktop{
            display: none;
        }
    
        .bg-billede-mobil{
            display: initial;
        }
    }
    .header-img1{
    
        .banner-tekst1{
            left: 5%;
            top: 15%;
        }
    
        h1{
            font-size: 5vw;
        }
    
        p{
            font-size: 4vw;
        }
    
        .bg-billede-desktop{
            display: none;
        }
    
        .bg-billede-mobil{
            display: initial;
        }
    }
    .header-img2{
    
        .banner-tekst2{
            left: 5%;
            top: 15%;
        }
    
        h1{
            font-size: 5vw;
        }
    
        p{
            font-size: 4vw;
        }
    
        .bg-billede-desktop{
            display: none;
        }
    
        .bg-billede-mobil{
            display: initial;
        }
    }
      
    main{
        .container{
            flex-direction: column;
        }
    }
    main{
        .container1{
            flex-direction: column;
        }
    } 
    .flex{
        @include partial.cta-box($width: 80%);
    
        img{
            width: 50%;
        }
    }
  
    
    .tekst{
        grid-column: 1/8;
        order: 2;
        padding: 2em 2em 4em 2em
    }
    
    .secondary-btn{
        display: block; // Fylder den fulde bredde af den tilgængelige plads//
    }
    
    .billede{
        order: 1;
        grid-column: 1/8;
        height: 300px;    
    }
    
    
    .footer-left{
        grid-column: 1/3;
        margin: 0 auto;
    }
    
    .footer-right{
        grid-column: 1/3;
        text-align: center;
        margin: 2em auto 0em auto;
    }
    
    }
    
    